*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    direction: rtl;
    background-color: #b4c0ca !important;
}
.nav{
    margin: 0 !important;
    background-color: #0d265f;
}

.navbtn{
    display: flex;
    justify-content: flex-end;
}
/* .dropdown{
    direction: rtl !important;
} */
.firstpart{
    background-image: url(./images/130-1304113_wallpaper-piano-hand-piano-keys-shadow-piano.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4em;
    padding-bottom: 3em;
}
.firstpart h4{
    color: #eb785c;
}
.firstpart h1{
    color: #d86e31;
}
.firstpart h5{
    color: #F39C19;
    margin-top: 20px;
    margin-right: 30px;
}
.btn{
    margin: 20px;
}
.btnstart{
    display: flex;
    justify-content: center;
    align-items: center;

}
.textbox{
    background-color: #114d8d;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 10px;
}
.htitle{
    color: #1d4858;
    margin-bottom: 20px;
}
.hfirst{
    color: #2c6377;
}
.threesecimage{
    width: 3em;
    margin: 15px;
}
.thereesec, h1{
    margin-bottom: 50px !important;
    color: #1d4858;
}
.thereesec, h3{
    color: #2c6377;
}
hr{
    margin: 100px !important;
}
.text{
    margin: 20px !important;
}
.iconlg{
    width: 150px;
    margin-top: 20px;
}
/* carouselsec */
.carousel-caption{
    color: rgb(207, 184, 82) !important;
    font-size: 2em;
}
video{
    width: 60vh;

}
.videosrc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.videotitle{
    color: #1d4858;
}
li{
    padding: 10px;
}
.textblock{
    background-color: rgb(58, 58, 172);
    display: flex;
    justify-content: stretch;
}
.selfpic{
    width: 100px;
    border-radius: 40%;
}
.btn-group{
    margin: -15px;
}
.btn-insta{
    background:linear-gradient(45deg, rgb(248, 201, 70), rgb(241, 162, 14), rgb(180, 53, 112), rgb(114, 41, 143));
    width: 75px;
    height: 35px;
    border-radius: 30px;
}
.footersec{
    margin-top: 4em;
    margin-right: 0 !important;
    margin-left: 0px;
    background-color: #0d265f;
}